<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">

<div class="primary-container">
  <hr>
  <div class="card bg-light article-custom">
    <article class="card-body-mx-auto">
      <h1 class="card-title mt-3 text-center custom-margin">Bienvenidos a la StraviaTec</h1>
      <h3 class="card-title mt-3 text-center custom-margin">Por favor seleccione como desea ingresar:</h3>

      <div class="row row-custom">

       
        <div class="col col-custom">
          <button class="btn" [routerLink]="['/login-deportista']"><i class="fas fa-running"></i>   Deportista</button>
        </div>

        <div class="col col-custom">
          <button class="btn" [routerLink]="['/menu-organizador']"><i class="fas fa-user-cog"></i>   Organizador</button>
        </div>

      </div>
    </article>
  </div>
</div>