<nav class="navbar navbar-light bg-white">
    <a class="nav-link" [routerLink]="['/friends-activity']">Actividades de amigos </a>
    <a class="nav-link" [routerLink]="['/add-friend']">Buscar atletas </a>
    <a class="nav-link" [routerLink]="['/upload-activity']">Registrar actividad </a>
    <a class="nav-link" [routerLink]="['/race-signup']">Inscribirse a una carrera </a>
    <a class="nav-link" [routerLink]="['/retos-disponibles']">Inscribirse a un reto </a>
    <a class="nav-link" [routerLink]="['/asociarse-grupo']">Asociarse a un grupo </a>
    <a class="nav-link" [routerLink]="['/evento-inscrito']">Ver eventos inscritos </a>
    <a class="nav-link" [routerLink]="['/gestion-grupos']">Gestion de grupos </a>
</nav>

<div class="container">

    <h3>Carreras Disponibles</h3>
    <p>
        Selecciona una carrera para ver más información.
    </p>

    <div class="list-group">
        <a class="list-group-item list-group-item-action" *ngFor="let carrera of carreras; trackBy: trackByFn" 
            href="/race-detail/{{ carrera.id }}">
            <div class="d-flex w-100 justify-content-between">
                <h5>{{ carrera.nombre }}</h5>
                <p>Fecha: {{ carrera.fecha }}</p>
            </div>
            <p class="mb-1">
                Costo inscripción: <strong>₡ {{ carrera.costo }}</strong>
            </p>
        </a>
    </div>

</div>