<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">

<div class="primary-container">
    <hr>
    <div class="card bg-light article-custom">
        <article class="card-body mx-auto">
            <h4 class="card-title mt-3 text-center custom-margin">Crear una cuenta</h4>
            <form class="container">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <div class="form-group">
                            <img [src]="localUrl" alt="profile-picture" id="image-src" *ngIf="localUrl">
                            <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/user.png" alt="profile-picture" id="image">
                        </div>
                        <div class="form-group">
                            <label for="profile-photo">
                                Foto de perfil
                            </label>
                            <input type="file" name="profile-photo" id="profile-photo" class="form-control" (change)="loadImage($event)">
                        </div>
                    </div>

                    <div class="form-group col-md-8">
                        <div class="form-row margin-bottom">
                            <div class="form-group input-group col">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input id="name" name="name" class="form-control" placeholder="Nombre" type="text">
                            </div> <!-- form-group// -->

                            <div class="form-group input-group col">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input id="last-name1" name="last-name1" class="form-control" placeholder="Primer Apellido"
                                    type="text">
                            </div> <!-- form-group// -->

                            
                        </div>

                        <div class="form-row margin-bottom">

                            <div class="form-group input-group col">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input id="last-name2" name="last-name2" class="form-control" placeholder="Segundo Apellido"
                                    type="text">
                            </div> <!-- form-group// -->

                            <div class="form-group input-group col">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fas fa-birthday-cake"></i> </span>
                                </div>
                                <input id="birth" name="birth" class="form-control" placeholder="Fecha de nacimiento"
                                    type="date">
                            </div> <!-- form-group// -->

                            
                        </div>

                        <div class="form-row margin-bottom">

                            <div class="form-group input-group col">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fas fa-globe"></i> </span>
                                </div>
                                <input id="nationality" name="nationality" class="form-control" placeholder="Nacionalidad"
                                    type="text">
                            </div> <!-- form-group// -->

                            <div class="form-group input-group col">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user-circle"></i> </span>
                                </div>
                                <input id="username" name="username" class="form-control" placeholder="Nombre de usuario"
                                    type="text">
                            </div> <!-- form-group// -->
        
                            
                        </div>

                        <div class="form-row margin-bottom">
                            <div class="form-group input-group col">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input id="pass" class="form-control" placeholder="Crear contraseña" type="password">
                            </div> <!-- form-group// -->
        
                            <div class="form-group input-group col">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input id="passConfirm" class="form-control" placeholder="Repetir contraseña" type="password">
                            </div> <!-- form-group// -->
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block" (click)="saveAthlete()">Crear cuenta</button>

                <div class="form-group">
                    <p class="text-center">¿Tienes una cuenta? <a href="/login-deportista">Inicia sesión</a> </p>
                </div>
            </form>
        </article>
    </div> <!-- card.// -->
</div>
<!--container end.//-->


<!-- The Modal -->
<div class="modal" id="saveMsj">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="saveMsjLabel"></h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <a id="msjText"></a>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal"
                    (click)="closeModal('saveMsj')">Close</button>
            </div>
        </div>
    </div>
</div>