<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">

<div class="primary-container">
    <hr>
    <div class="card bg-light article-custom">
        <article class="card-body mx-auto">
            <h4 class="card-title mt-3 text-center custom-margin">Crear una Carrera</h4>
            <form class="container">
                <div class="form-row">

                    <div class="form-group input-group col">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input id="name" name="name" class="form-control" placeholder="Nombre" type="text">
                    </div> <!-- form-group// -->

                    <div class="form-group input-group col">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-hiking"></i> </span>
                        </div>
                        <select class="form-control" id="activity">
                            <option selected="" value="Seleccione una actividad"> Seleccione una actividad</option>
                            <option *ngFor="let actividad of actividades" value="{{actividad.id}}">{{ actividad.nombre }}</option>
                        </select>
                    </div> <!-- form-group// -->

                    <div class="form-group input-group col">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
                        </div>
                        <input id="fecha" name="fecha" class="form-control" placeholder="Fecha" type="date">
                    </div> <!-- form-group// -->

                    <div class="form-group input-group col">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-money-bill-wave-alt"></i> </span>
                        </div>
                        <input id="costo" name="costo" class="form-control" placeholder="Costo" type="number">
                    </div> <!-- form-group// -->
                    

                </div>

                <div class="form-row">

                    <div class="form-group input-group col">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-pager"></i> </span>
                        </div>
                        <select class="form-control" id="category" multiple>
                            <option selected="" value="Seleccione una categoria"> Seleccione una categoria</option>
                            <option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{ categoria.nombre }}</option>
                        </select>
                    </div> <!-- form-group end.// -->

                    <div class="form-group input-group col">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-handshake"></i> </span>
                        </div>
                        <select class="form-control" id="sponsor" multiple>
                            <option selected="" value="Seleccione un patrocinador"> Seleccione un patrocinador</option>
                            <option *ngFor="let patrocinador of patrocinadores" value="{{patrocinador.id}}">{{ patrocinador.nombreComercial }}</option>
                        </select>
                    </div> <!-- form-group end.// -->

                    
                
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-money-check-alt"></i> </span>
                          </div>
                          <input type="text" id="cuentaB" name="cuentaB" placeholder="Cuenta Bancaria" class="form-control">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary button-cuenta" type="button" (click)="addCuenta()">
                              Agregar cuenta bancaria 
                            </button>
                          </div>
                        </div>
                      </div>

                    <div class="col">
                        <div class="table-container">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th class="text-center align-middle" scope="col">Cuenta bancaria</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let cuenta of cuentas">
                              <tr>
                                <td class="text-center align-middle">{{ cuenta }}</td>
                                <button type="button" class="btn btn-teal btn-rounded btn-sm m-0" (click)="deleteCuenta(cuenta)" ><i class="far fa-trash-alt"></i></button>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
               
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <label for="recorrido">  Cargar Recorrido </label>
                    </div>

                    <div class="form-group col-md-10">
                        <input  class="float-md-left" type="file" accept=".gpx" name="recorrido" id="recorrido" class="form-control-file" (change)="loadRuta($event)">
                    </div> <!-- form-group// -->
                </div>

                <div class="form-row">

                    <div class="form-group input-group col-md-4" id="privado-group">
                        <label class="radio-inline padding-custom">
                            <input id="publico-radio" type="radio" name="optradio" checked (click)="clearGroups()" value="false">Público</label>
                        <label class="radio-inline">
                            <input id="privado-radio" type="radio" name="optradio" (click)="setGroups()" value="true">Privado</label>
                    </div>

                    <div id="groupsOption" style="display: none;" class="form-group input-group col-md-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-handshake"></i> </span>
                        </div>
                        
                        <select class="selectpicker" multiple id="groups">
                            <option selected="" value="Seleccione los grupos"> Seleccione los grupos</option>
                            <option *ngFor="let grupo of grupos" value="{{grupo.id}}">{{ grupo.nombre }}</option>
                        </select>
                    </div> <!-- form-group end.// -->
                </div>

                <button id="saveButton" type="submit" class="btn btn-primary btn-block" (click)="saveCarrera()">Crear carrera</button>
            </form>

            
            <div class="margin-div">
                <h2></h2>
                <div class="race-table">
                    <h2>Carreras Registradas</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center align-middle" scope="col">Nombre</th>
                                <th class="text-center align-middle" scope="col">Actividad</th>
                                <th class="text-center align-middle" scope="col">Fecha</th>
                                <th class="text-center align-middle" scope="col">Categoría</th>
                                <th class="text-center align-middle" scope="col">Patrocinador</th>
                                <th class="text-center align-middle" scope="col">Costo</th>
                                <th class="text-center align-middle" scope="col">Cuentas Bancarias</th>
                                <!--th class="text-center align-middle" scope="col">Ruta</th-->
                            </tr>
                        </thead>
                        <tbody *ngFor="let carrera of carreras; let i = index;">
                            <tr>
                                <td (contextmenu)="onCarreraClick($event, carrera)" class="text-center align-middle">{{ carrera.nombre}}</td>
                                <td (contextmenu)="onCarreaClick($event, carrera)" class="text-center align-middle">{{ carrera.nombreTipoActividad }}</td>
                                <td (contextmenu)="onCarreraClick($event, carrera)" class="text-center align-middle">{{ carrera.fecha}}</td>
                                <td (contextmenu)="onCarreraCick($event, carrera)" class="text-center align-middle">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" *ngFor="let cat of carrera.categoriaCarrera">
                                            {{cat.nombre}}
                                        </li>
                                    </ul>
                                </td>
                                <td (contextmenu)="onCarreaClick($event,carrera)" class="text-center align-middle">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" *ngFor="let pat of carrera.patrocinadorEvento">
                                            {{pat.nombreComercial}}
                                        </li>
                                    </ul>
                                </td>
                                <td (contextmenu)="onCarreraClick($event, carrera)" class="text-center align-middle">{{ carrera.costo}}</td>
                                <td (contextmenu)="onCarreraClick($event, carrera)" class="text-center align-middle">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" *ngFor="let cuenta of carrera.cuentaBancaria">
                                            {{cuenta.nombre}}
                                        </li>
                                    </ul>
                                </td>
                                <!--td (contextmenu)="onCarreraClick($event, carrera)" class="text-center align-middle">{{ carrera.recorrido}}</td-->
                            </tr>     
                        </tbody>
                    </table>
                </div>  
                
                <div class="dropdown-menu" aria-labelledby="tableMenu" id="context-menu">
                    <a class="dropdown-item btn btn-default" (click)="updateCarrera()">Actualizar</a>  
                    <a class="dropdown-item btn" (click)="askUser()">Eliminar</a> 
                </div>
            <!-- card.// -->
        </div>

        </article>
    </div> 
    
    

<!--container end.//-->


<!-- The Modal -->
<div class="modal" id="saveMsj">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="saveMsjLabel"></h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <a id="msjText"></a>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal"
                    (click)="closeModal('saveMsj')">Close</button>
            </div>
              <!-- Modal footer -->
        </div>
    </div>
</div>

<!-- The Option Modal -->
<div class="modal" id="optionMsj">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" id="optionMsjLabel"></h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <a id="optionText"></a>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal" (click)="deleteRace()">Si</button>
          <button type="button" class="btn btn-info" data-dismiss="modal" (click)="closeModal('optionMsj')">No</button>
        </div>
      </div>
    </div>
  </div>