<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">

<div class="primary-container">
  <hr>
  <div class="card bg-light article-custom">
    <article class="card-body-mx-auto">
      <h1 class="card-title mt-3 text-center custom-margin">Bienvenidos a StraviaTEC</h1>
      <h3 class="card-title mt-3 text-center custom-margin">Por favor seleccione la acción que desea realizar:</h3>

      <div class="row row-custom">

        <div class="col col-custom">
          <button class="btn" [routerLink]="['/gestion-carreras']"><i class="fas fa-flag-checkered"></i> Gestión de Carreras</button>
        </div>

        <div class="col col-custom">
          <button class="btn" [routerLink]="['/affiliations']"><i class="fas fa-book"></i> Gestión de Afiliaciones</button>
        </div>

        <div class="col col-custom">
          <button class="btn" [routerLink]="['/gestion-retos']"><i class="fas fa-handshake"></i>  Gestión de Retos</button>
        </div>
        <div class="col col-custom">
          <button class="btn" [routerLink]="['/gestion-grupos']"><i class="fas fa-users"></i>  Gestión de Grupos</button>
        </div>
      </div>

      <div class="row row-custom">
        <div class="col col-custom">
          <button class="btn"><i class="far fa-newspaper"></i>  Reportes</button>
        </div>
      </div>
    </article>
  </div>
</div>