.primary-container {
    display: flex !important;
    justify-content: center;

    width: 100vw;
    height: 92vh;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: -15px;

    background-image: url('https://cdn.pixabay.com/photo/2015/04/20/17/39/man-731900_1280.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: red;
}

.login-overlay {
    align-self: center;
    width: 25%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.login-title {
    padding: 12px 25px;
}

.overlay-separator {
    width: 100%;
    height: 1px;
    background-color: white;
}

.overlay-body {
    padding: 25px;
    padding-bottom: 0px;
}
.control-container {
    display: flex;
    flex: row wrap;
    margin-bottom: 15px;
}

.control-icon {
    flex-grow: 1;
    background-color: #FFC312;
    width: 20px;
    text-align: center;
}

.control-input {
    flex-grow: 5;
}

.overlay-footer {
    padding: 25px;
}

.login-btn {
    color: black;
    background-color: #2ad4d4;
    width: 100px;
} 

.login-btn:hover {
    color: black;
    background-color: white;
}

.hr-custom {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}

.a-custom {
    color: dodgerblue !important;
}

