.primary-container {
    width: 100vw;
    height: 92vh;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: -15px;

    background-image: url('https://cdn.pixabay.com/photo/2015/04/20/13/44/sports-731506_1280.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10%;
}

.dropdown-menu {
    max-height: 100px;
    overflow: auto;
}

.article-custom {
    width: 80%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.9) !important;
    margin: auto;
}

.custom-margin {
    margin-bottom: 30px !important;
}


.row-custom {
    margin-top: 60px !important;
    margin: auto;
    width: 80%;
    padding: 10px;
}

.col-custom {
    display: grid;
}

.margin-div {
    margin-top: 30px;
}