<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
<div class="primary-container">
    <div class="card bg-light article-custom">
        <div class="margin-div">
            <h2>Solicitudes de afiliacion</h2>
            <div>
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="text-center align-middle" scope="col">Carrera</th>
                      <th class="text-center align-middle" scope="col">Estado</th>
                      <th class="text-center align-middle" scope="col">Deportista</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let affiliation of affiliations; let i = index;">
                    <tr>
                      <td (contextmenu)="onAffiliationClick($event, affiliation)" class="text-center align-middle">{{ affiliation.idCarrera }}</td>
                      <td (contextmenu)="onAffiliationClick($event, affiliation)" class="text-center align-middle">Pendiente</td>
                      <td (contextmenu)="onAffiliationClick($event, affiliation)" class="text-center align-middle">{{ affiliation.idDepotrista }}</td>
                    </tr>
          
                  </tbody>
            </table>

            <div class="dropdown-menu" aria-labelledby="tableMenu" id="context-menu">
                <a class="dropdown-item btn btn-default" (click)="accept()">Aceptar</a>  
                <a class="dropdown-item btn" (click)="askUser()">Rechazar</a> 
            </div>
            </div>
        </div>
    </div>
</div>

<!-- The Reject with comment Modal -->
<div class="modal" id="rejectAffiliation">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="optionMsjLabel"></h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <a id="optionText"></a>
      </div>
      <!-- Modal input -->
      <div>
        <label for="comment">Comentario: </label>
        <input type="text" id="comment" name="comment"><br><br>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="deny()">Rechazar</button>
        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="closeModal('rejectAffiliation')">Cancelar</button>
      </div>
    </div>
  </div>
</div>
