<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">

<nav class="navbar navbar-light bg-white">
    <a class="nav-link" href="#">Actividades de amigos </a>
    <a class="nav-link" href="#">Buscar atletas </a>
    <a class="nav-link" href="#">Registrar actividad </a>
    <a class="nav-link" href="#">Inscribirse a una carrera </a>
    <a class="nav-link" href="#">Inscribirse a un reto </a>
    <a class="nav-link" href="#">Asociarse a un grupo </a>
    <a class="nav-link" href="#">Ver eventos inscritos </a>
    <!-- <a href="#" class="navbar-brand">Actividades de amigos</a>
    <a href="#" class="navbar-brand">Buscar atletas</a>
    <a href="#" class="navbar-brand">Registrar actividad</a>
    <a href="#" class="navbar-brand">Inscribirse a una carrera</a>
    <a href="#" class="navbar-brand">Inscribirse a un reto</a>
    <a href="#" class="navbar-brand">Asociarse a un grupo</a>
    <a href="#" class="navbar-brand">Ver eventos inscritos</a> -->
    <!-- <form class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" id="button-addon2">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form> -->
</nav>


<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <img class="imageP" [src]="localUrl" id="image" alt="profile-picture" *ngIf="localUrl">
                    <!-- <img class="imageP" src="https://i.pinimg.com/originals/ce/2a/95/ce2a95e99faceaf7af19c273b10ebcc1.jpg" id="image" alt="profile-picture"> -->
                    <div class="h5" id="username"></div> <!--username-->
                    <div class="h7 text-muted" id="nombreCompleto"></div> <!--nombre-->
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">Amigos</div>
                        <div class="h5" id="siguiendo"></div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9 gedf-main">
            

            <!--- \\\\\\\Post-->
            <div class="card gedf-card" *ngFor="let actividad of actividades">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <!-- <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt=""> -->
                                <img class="rounded-circle" width="45" height="45" src={{actividad.idUsuarioNavigation.foto}} alt="">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">{{ actividad.idUsuarioNavigation.user }}</div>
                                <div class="h7 text-muted">
                                    {{ actividad.idUsuarioNavigation.nombre }} {{ actividad.idUsuarioNavigation.apellido1 }} {{ actividad.idUsuarioNavigation.apellido2 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{ actividad.fecha }}</div>
                    <a class="card-link" href="#">
                        <h5 class="card-title">Caminata por la mañana</h5>
                    </a>
                    <div class="">
                        <div class="form-row  mt-lg-4">
                            <div class="col-3">
                                <h6>Distancia</h6>
                            </div>
                            <div class="col-3">
                                <h6>Duración</h6>
                            </div>
                        </div>

                        <div class="row mb-lg-2">
                            <div class="col-3">
                                <span id="distance"></span>
                            </div>
                            <div class="col-3">
                                <span id="duration"></span>
                            </div>
                        </div>
                        <!-- <div id="leaflet-map" style="height: 300px; background-color: lightgray;"></div> -->
                    </div>
                </div>
            </div>
            <!-- Post /////-->


        </div>

        <!-- <div class="col-md-3">
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of thecard's content.
                    </p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div> -->
    </div>
</div>