.primary-container {
    display: flex !important;
    flex: row wrap;
    justify-content: center;

    width: 100vw;
    height: 92vh;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: -15px;

    background-image: url('https://webunwto.s3.eu-west-1.amazonaws.com/2020-01/sport-congresse.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.article-custom {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.9) !important;
    align-self: center;
    margin: auto;
    margin-top: 5%;
}